* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: darkcyan; */
  color: brown;
  font-size: 30px;
}
form {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
input {
  height: 35px;
  margin: 10px 0px;
}
img {
  margin-top: 30px;
}
.file_actions,
.folder_actions {
  /* right: 50%;*/
  top: 10%;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: black 3px solid;
}
button {
  font-size: 30px;
  padding: 15px;
  width: 200px;
}
span {
  border: 1px solid black;
  padding: 2px;
  cursor: pointer;
}
.popup {
  color: white;
  background-color: green;
  font-size: 30px;
}
.content {
  display: flex;
  justify-content: center;
  gap: 40px;
}
